.gradient {
  background: linear-gradient(120deg,#1f9502,#0ea0ff);
  color: #fff;
}

.portfolio-laptop-mockup .screen .screen-content {
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.portfolio-laptop-mockup .screen {
  width: 180px;
}

.portfolio-laptop-mockup .keyboard {
  width: 210px;
}

#bg {
  background-image: url;
}

.portfolio-block.block-intro {
}

.portfolio-navbar.fixed-top + .page {
}

#mom {
  font-size: 40px;
  color: rgb(43,147,25);
  font-family: cursive;
  font-style: italic;
  font-weight: 800;
}

